/*
* Ionic React Capacitor Full App (https://store.enappd.com/product/ionic-react-full-app-capacitor/)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/

.content-bg {
    --background: #eaeaea;
}

.card-bg {
    --background: #fff;
}

.ion-card-title-css {
    margin-top: 2px;
    font-size: 22px;
}

.marginBottom {
    margin-bottom: 25px;
}

ion-card-header:before {
    background: transparent !important;
}
.ml-0 {
    margin-left: 0px !important;
}
