/*
* Ionic React Capacitor Full App (https://store.enappd.com/product/ionic-react-full-app-capacitor/)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/

.play-button-div {
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
}
.play-button-div .play-button {
    font-size: 54px;
}
.modal-custom-class {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    --width: 100vw;
    --height: 100vh;
}
